label.checkbox-wrapper {
  padding: 0;
  margin: 0;
  line-height: 0;
  display: flex;
  align-items: center;
  height: 1.25rem;

  position: relative;
  padding-left: 2.18rem;
  margin-bottom: 0.75rem;
  input[type="checkbox"] {
    position: absolute;
    all: unset;
    &:checked ~ .checkmark:after {
      /* Mostrar a marca de seleção quando marcada */
      display: block;
      outline-color: var(--brand-light);
    }
    &:checked ~ .checkmark {
      outline-color: var(--brand-light);
    }
  }
  .checkmark {
    /* Cria uma caixa de seleção personalizad */
    position: absolute;
    top: 0;
    left: 0;
    height: 1.25rem;
    width: 1.25rem;
    background-color: var(--input-base);
    border-radius: 4px;
    outline: 1px solid var(--input-stroke);

    &:after {
      /* Cria a marca de seleção/indicador (oculto quando não marcado)*/
      content: "";
      position: absolute;
      display: none;

      /* Estilize a marca de seleção/indicador */
      left: 7px;
      top: 3px;
      width: 5px;
      height: 10px;
      border: solid var(--brand-light);
      border-width: 0 1px 1px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
  &:hover input ~ .checkmark {
    outline-color: var(--brand-light);
  }

  a {
    color: var(--brand-light);
    font: var(--text-sm);
    display: inline-block;
    padding-inline: 5px;
  }
}