.segmented-control {
  height: 3rem;
  outline: 1px solid var(--input-stroke);
  border-radius: 0.5rem;
  background-color: var(--input-base);

  display: flex;
  gap: 0.25rem;
  padding-inline: 0.25rem;

  .radio-inner {
    margin-block: 0.25rem;
    padding-top: 0.75rem;
    border-radius: 0.25rem;

    display: flex;
    justify-content: center;
    flex: 1;
    gap: 0.5rem;

    position: relative;

    label {
      font: var(--text-sm);
      color: var(--text-body);
      display: inline-block;
      line-height: 1;
    }

    img {
      display: inline-block;
      height: 1rem;
      width: 1rem;
      filter: invert(65%) sepia(12%) saturate(284%) hue-rotate(160deg)
        brightness(87%) contrast(85%);
    }

    input {
      all: unset;
      position: absolute;
      inset: 0;
    }

    &:has(:checked) {
      background-color: var(--shape-button);
    }

    img {
      filter: invert(67%) sepia(56%) saturate(3083%) hue-rotate(184deg)
        brightness(104%) contrast(101%);
    }
  }
}

&:hover,
&:has(input:focus) {
  outline-color: var( --brand-light);
}

.textarea-wrapper {
  & input {
    height: 8rem;
    
  }

}

  #personalization {
    #main-colors,
    #event-theme {
      label {
        color: var(--text-heading);
      }
    }
  }

  #personalization {
    #main-colors,
    #event-theme {
      padding-bottom: 1.75rem;

      .radio-wrapper {
        margin-top: 1.5rem;
        display: flex;
        align-items: center;
        gap: 0.75rem;

        .radio-inner {
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: var( --shape-button);
          border-radius: 50%;
          height: 2.5rem;
          width: 2.5rem;
          position: relative;
          outline: 2px solid var(--shape-button);

          input[type="radio"] {
            all: unset;
            position: absolute;
            inset: 0;

            &:checked {
              border-radius: 50%;
              outline: 2px solid var(--brand-light);
            }

            &:hover {
              border: 6px solid var(--shape-hover);
              border-radius: 50%;
            }
          }
          
           .circle-inner {
            height: 1.75rem;
            width: 1.75rem;
            border-radius: 50%;

            &.blue-color {
              background-color: var(--brand-light);
            }

            &.navy-color {
              background-color: var(--accent-navy);
            }

            &.purple-color {
              background-color: var(--accent-purple);
            }

            &.fuchsia-color {
              background-color: var(--accent-fuchsia);
            }

            &.pink-color {
              background-color: var(--accent-pink);
            }

            &.red-color {
              background-color: var(--accent-red);
            }

            &.orange-color {
              background-color: var(--accent-orange);
            }

            &.yellow-color {
              background-color: var(--accent-yellow);
            }

            &.lime-color {
              background-color: var(--accent-lime);
            }

            &.green-color {
              background-color: var(--accent-green);
            }

            &.cyan-color {
              background-color: var(--accent-cyan);
            }
          }
        }
      }
    }
  }

  .event-theme {
    .radio-wrapper {
      display: flex;
      gap: 0.5rem;
      flex-wrap: wrap;
      .radio-inner {
        margin-top: 1rem;
        background-color: var(--shape-button);
        display: flex;
        flex-direction: column;
        align-items: center;
        outline: 1px solid var(--input-stroke);
        border: 2px solid transparent;
        position: relative;
        border-radius: 0.5rem;
        max-width: 8.375rem;
        label {
          padding-top: 0.5rem;
        }
        img {
          border-radius: 0.25rem;
          padding: 0.25rem;
        }
        input[type="radio"] {
          all: unset;
          inset: 0;
          position: absolute;
          &:checked {
            outline: 2px solid var(--brand-light);
            border-radius: 0.5rem;
          }
        }
        &:hover {
          border-radius: 0.5rem;
          background-color: var( --shape-hover);
        }
      }
    }
  }
 
