#app  {
  display: grid;
  grid-template-columns: 32.78% 67.22%;

  height: 100vh;
  overflow: hidden;
}

main {
  overflow: auto;
  padding: 5rem 8.125rem;

& .main-container{
  max-width: 28,75rem;
  margin: auto;
}
 
}

aside {
  padding: 2rem;
  background-image: url(../assets/Background-img.png);

  & .aside-container {
    max-width: 25rem;
  }


}