#app  {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2.5rem;
  padding: 1.25rem;

  height: 100vh; /*100% da área visisvel pagina*/
  max-width: 80rem;
  margin-inline: auto;
  
  overflow: hidden; /*para não ter rolagem na pagina*/
 
}



aside {
  margin-top: 1.25rem ;
  height: 45.5rem;
  width: 25rem;
  background-image: url(../assets/Background-img.png);
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 0.75rem;
  

  & .aside-container {
    max-width: 25rem;
  }

  & header {
    padding: 2rem;
  
    & h1 {
      color: var(--accent-pink);
      font: var(--logo);
      margin-bottom: 0.25rem;
    }

    & p {
      font: 600 0.75rem/100% var(--font-family-text);
      color: var(--text-heading);
    }

    & img {
      width: 2,865rem;
      height: 3rem;
      margin-bottom: 1rem;
    }
  } 
}
                               
  

 

